body{
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.fifteen{
  height: 15%;
}

.eighty_five{
  height: 85%;
}

.iframe_test {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 56.25%;
}

.ad img{
  width: 100%;
  max-width: 100%;
  height: 95% !important;
  object-fit: cover;
  object-position: center;
  padding: 5% 0 0 0;
}

.phone  img {
   object-fit: cover;
}

.landscape {
    padding-bottom: 56.25%!important;
}

.portrait{
    padding-bottom: 130%!important;
}

@media (min-width: 1200px) {
  .portrait{
      padding-bottom: 40%!important;
  }
}

.iframe_test iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
