body{
  padding: 10px 0 0 0; 
  margin: 0px;
  overflow: hidden;
}
.fifteen{
  height: 15%;
}

.eighty_five{
  height: 85%;
}

.iframe_test {
  position: relative;
  display: block !important;
  height: calc(100vh - 182px);
  width: 100%;
  overflow: hidden;
  background: #fff;
}

.iframe_test iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ad {
  display: none;
}

.active{
  display: block!important;
}

.ad img{
  width: 100%;
  max-width: 100%;
  height: 100% !important;
  object-fit: contain;
  object-position: center;
}

.phone  img {
   object-fit: cover;
}

.landscape {
    padding-bottom: 56.25%!important;
}

.portrait{
    padding-bottom: 130%!important;
}

@media (min-width: 1200px) {
  .portrait{
      padding-bottom: 40%!important;
  }
}